
body{
    letter-spacing: 0;
    background-color: #F9F9F9;
}

:root{
    --almost-black:#141416;
    --default-font-size:0.89rem;
}

@media(max-width:1050px){

    :root{
        --default-font-size:0.7rem;
    }
}

.container{
    margin:0 auto;
    padding: 0 15px;

    max-width: 1250px;
    width:100%;
}