
@import url("./reset.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');


body{
    letter-spacing: 0;
    background-color: #F9F9F9;
}

:root{
    --almost-black:#141416;
    --default-font-size:0.89rem;
}

@media(max-width:1050px){

    :root{
        --default-font-size:0.7rem;
    }
}

.container{
    margin:0 auto;
    padding: 0 15px;
    max-width: 1250px;
}


/* footer */

.footer{
    margin-top:15px;

    display:flex;
    justify-content: space-between;
}

.footer__union{
    display:flex;
    gap:40px;
}

.footer__logo{
    margin-top:5px;
}

.footer__nav{
    display: flex;
    align-items: center;
}

.footer__items{
    display:flex;
    justify-content: center;
    gap:40px;
}

.footer__item{
    transition:0.5s;
}

.footer__item:hover{
    transform:translateY(-2px);
}

.footer__link{
    display:block;

    font-family: Inter;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 1.5;

    color:#606060;
}

.footer__link:hover{
   color:var(--almost-black);
}


.footer__search{
    position:relative;
    font-size: var(--default-font-size);
}

.footer__input{
    width:21em;
    height:4.38em;

    padding-left:5em;

    border-radius: 1em;

    font-family: Poppins;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: -2%;

    margin-left:60px;

    background-color: #EDEDED;
}

.footer__search-button{
    position:absolute;
    top:1.2em;
    left:calc(60px + 2em);

    width:2em;
    aspect-ratio: 1 / 1;
}

.footer__wallet-button{
    background-color: var(--almost-black);
    color:#fff;

    border-radius: 1rem;
    border:2px solid var(--almost-black);

    padding:1.3em 1.5em;

    font-family: Inter;
    font-weight: 600;
    font-size: var(--default-font-size);
    line-height: 1.5;

    transition: 600ms ease;
}

.footer__wallet-button:hover{
    background-color: #EDEDED;
    color:var(--almost-black);
}

